@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos generales para el cuerpo */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #c4e2f5;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* Estilos para el menú de navegación */
.navbar-index {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.navbar-index ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-index ul li {
    display: inline;
    margin: 0 20px;
}

.navbar-index ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    opacity: 0.8;
}

.navbar-index ul li a:hover {
    opacity: 1;
}